<a href="https://colab.research.google.com/github/rohandawar/TheGreatIndianRealEstateChallange/blob/main/TheGreatIndianRealEstateChallange_WIP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_In this notebook, I am trying to work on the great indian Real estate challange_

link: https://machinehack.com/hackathons/the_great_real_estate_data_challenge/data

In [1]:
# Import libs
#Colab
from google.colab import drive

#General
import pandas as pd
import numpy as np

# Plotting 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Mount the drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:

# Check/Locate the data in drive
!ls drive/MyDrive/DataSets/The_Great_Indian_Real_Estate_Challange

test.csv  train.csv

In [9]:
# Read the training data
traindf = pd.read_csv('drive/MyDrive/DataSets/The_Great_Indian_Real_Estate_Challange/train.csv')
print('The shape of the dataset is: ', traindf.shape)
traindf.head()

The shape of the dataset is:  (553952, 11)

,Year,Date,Locality,Address,Estimated Value,Sale Price,Property,Residential,num_rooms,carpet_area,property_tax_rate
0,2009,2009-01-02,Greenwich,40 ETTL LN UT 24,711270.0,975000.0,Condo,Condominium,2,760,1.025953
1,2009,2009-01-02,East Hampton,18 BAUER RD,119970.0,189900.0,Single Family,Detached House,3,921,1.025953
2,2009,2009-01-02,Ridgefield,48 HIGH VALLEY RD.,494530.0,825000.0,Single Family,Detached House,3,982,1.025953
3,2009,2009-01-02,Old Lyme,56 MERIDEN RD,197600.0,450000.0,Single Family,Detached House,3,976,1.025953
4,2009,2009-01-02,Naugatuck,13 CELENTANO DR,105440.0,200000.0,Single Family,Detached House,3,947,1.025953

In [10]:
# Read the training data
testdf = pd.read_csv('drive/MyDrive/DataSets/The_Great_Indian_Real_Estate_Challange/test.csv')
print('The shape of the dataset is: ', testdf.shape)
testdf.head()

The shape of the dataset is:  (43954, 12)

,Year,Date,Locality,Address,Estimated Value,Sale Price,Property,Residential,num_rooms,carpet_area,property_tax_rate,Segment
0,2023,2023-01-01,Old Lyme,12 SWAN AVE,151400.0,0,Residential,Detached House,3,947.0,1.46,0
1,2023,2023-01-01,Ridgefield,59 LINCOLN LANE,686900.0,0,Residential,Detached House,3,1051.0,1.46,0
2,2023,2023-01-04,Cromwell,6 GROVE RD,152030.0,0,Residential,Detached House,3,925.0,1.46,0
3,2023,2023-01-04,New Haven,346 CONCORD ST,156130.0,0,Residential,Duplex,4,1210.0,1.46,0
4,2023,2023-01-04,Beacon Falls,14 LASKY ROAD,108970.0,0,Residential,Detached House,3,1089.0,1.46,0